body {
    background-image: url(../img/forgetpassword.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.step {
    background-color: aliceblue;
    box-shadow: 1px 1px 10px 0px gray;
    width:15cm;
    margin:auto;
    margin-top: 3cm;;
}

h1 {
    margin-top: 1cm;
    font-family: monospace;
    text-align: center;
}

#container input[type="text"], #container input[type="password"] {
    width:80%;
    height:1cm;
    font-size: 1em;
    margin-left:1.5cm;
}


#container .submit {
    border:none;
    background-color: deepskyblue;
    color:white;
    width:5cm;
    height:1cm;
    float:right;
    margin-right: 1.5cm;
}

#container .button {
    border:none;
    background-color: lightgray;
    color:white;
    width:5cm;
    height:1cm;
    margin-left: 1.5cm;
}

#container .submit:hover {
    cursor: pointer;
    background-color: red;
}

#container .button:hover {
    cursor: pointer;
    background-color: gray;
}

#back_main_page {
    margin-left:5cm;
}

/*hint's color*/
.hint_wrong {
    color:red;
    position: relative;
    left:0.1cm;
}

.hint_right {
    color:green;
    position: relative;
    left:0.5cm;
}